<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hydroh.yamibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/YamiboTheme.NoActionBar">
        <meta-data
            android:name="com.hydroh.yamibo.common.LimitedGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.yamibo.com"
                    android:path="/forum.php"
                    android:scheme="http" />
                <data
                    android:host="bbs.yamibo.com"
                    android:path="/forum.php"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.hydroh.yamibo.REFRESH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SectorActivity"
            android:label="@string/title_activity_sector"
            android:parentActivityName=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.yamibo.com"
                    android:pathPrefix="/forum-"
                    android:scheme="http" />
                <data
                    android:host="bbs.yamibo.com"
                    android:pathPrefix="/forum-"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hydroh.yamibo.REFRESH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PostActivity"
            android:label="@string/title_activity_thread"
            android:parentActivityName=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bbs.yamibo.com"
                    android:pathPrefix="/thread"
                    android:scheme="http" />
                <data
                    android:host="bbs.yamibo.com"
                    android:pathPrefix="/thread"
                    android:scheme="https" />
                <data
                    android:host="bbs.yamibo.com"
                    android:pathPattern="/forum.php?.*mod=viewthread.*"
                    android:scheme="http" />
                <data
                    android:host="bbs.yamibo.com"
                    android:pathPattern="/forum.php?.*mod=viewthread.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ImageGalleryActivity"
            android:label="@string/title_activity_image_browser"
            android:parentActivityName=".ui.PostActivity"
            android:theme="@style/YamiboTheme.FullScreen" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/YamiboTheme" />
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/YamiboTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hydroh.yamibo.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/YamiboTheme.NoActionBar" />
    </application>

</manifest>